@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
// Globals
$body-font-family: 'Poppins', sans-serif !default;
$border-radius-root:3px;


// Custom variables
$subtitle-color: #a1aab2;

$info: #1e88e5;
$gray-500: #a1aab2;

$light-primary: #e6ecfc;
$light-warning: #fff8ec;
$light-success: #e8fdf8;
$light-danger: #f9e7eb;
