<template>
  <v-card class="mb-7">
    <v-form ref="form" @submit.prevent="submit">  
    <v-card-text class="pa-5 border-bottom">
      <h3 class="title blue-grey--text text--darken-2 font-weight-regular">Add User Form</h3>
      <h6
        class="subtitle-2 font-weight-light"
      >Please add all necessary details.</h6>
    </v-card-text>

    <v-card-text class="pa-5 border-bottom">
      <h3 class="title blue-grey--text text--darken-2 font-weight-regular">User Info</h3>
      <div class="mt-4">
      <!-- dynamic form fields -->
        <v-row
          v-for="item in userFormFields"
          :key="item.formFieldDisplay"	
	>
          <v-col cols="12" sm="2" class="d-flex align-center">
            <label>{{item.formFieldDisplay}}</label>
          </v-col>
          <v-col cols="12" sm="10">
            <v-text-field
              filled
              background-color="transparent"
              v-model="formInput[item.formFieldName]"
              :placeholder="'Enter '+ item.formFieldDisplay"
              hide-details
            ></v-text-field>
          </v-col>
        </v-row>
	<!-- end dynamic form fields -->

      </div>
    </v-card-text>
    <v-card-text class="pa-5 border-bottom">
      <h3 class="title blue-grey--text text--darken-2 font-weight-regular">Others</h3>
      <div class="mt-4">
        <v-row>
          <v-col cols="12" sm="2" class="d-flex align-center">
            <label>User Password</label>
          </v-col>

	<v-col cols="12" sm="10">
                <v-text-field
                  v-model="userPassword"
                  :counter="8"
                  :rules="passwordRules"
                  label="Password"
                  required
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :type="show1 ? 'text' : 'password'"
		@click:append="toggleMarker"
                ></v-text-field>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="12" sm="2" class="d-flex align-center">
            <label>Interested In</label>
          </v-col>
          <v-col cols="12" sm="10">
            <v-select :items="interest" filled background-color="transparent" hide-details></v-select>
          </v-col>
        </v-row>
	
      </div>
    </v-card-text>
    <div class="pa-5 text-right">
      <v-btn color="success" class="text-capitalize mr-2" type="submit">Save</v-btn>
      <v-btn color="black" class="text-capitalize" dark @click="clear">Cancel</v-btn>
    </div>
    </v-form>    
  </v-card>
</template>

<script>
import adaptableAxios from '@/lib/zygy/adaptableAxios'
export default {
  name: "AddUserForm",
  data: () => ({
    interest: ["Choose your option", "Designing", "Development", "Hacking"],
  passwordRules: [
      v => !!v || "Password is required",
      v => (v && v.length >= 8) || "Password must be more than 7 characters"
    ],
    userFormFields: {},
    formInput:{},
    userPassword: "",
    show1: true    
  }),
     created () {
      this.initialize();
    },
 
      methods: {
      initialize() {
      var tmpThis = this;
      adaptableAxios.get('../system/formMapDetail.json??formId=userEntityFormMap').then(response => {
      tmpThis.userFormFields = response.data.fields;												   

      });
      },
      submit(){
	const searchParams = new URLSearchParams();      
      for (var key of Object.keys(this.formInput)) {
      //console.log(key + " -> " + this.formInput[key])
      searchParams.append(key, this.formInput[key]);     
      }

	//var tmpThis = this;
	adaptableAxios.post('../users/listOfUserDetails.json',searchParams).then(response => {
	console.log(response);
	});
      },
      clear () {
      this.userFormFields = {};
      },
       toggleMarker () {
        this.show1 = !this.show1
      },     

      
      }
      
      
      
};
</script>