<template>
  <v-container fluid class="down-top-padding">
    <BaseBreadcrumb :title="page.title" :icon="page.icon" :breadcrumbs="breadcrumbs"></BaseBreadcrumb>
    <v-row>
      <v-col cols="12" md="12">

  <v-card class="mb-7">
      <v-form ref="form" @submit.prevent="submit">

    <v-card-text class="pa-5 border-bottom">
      <h3 class="title blue-grey--text text--darken-2 font-weight-regular">Search Users</h3>

      <v-row>
        <v-col cols="12" lg="4">
          <v-row>
            <v-col cols="12" sm="6">
		<v-select
		v-model="userField"
		:items="fields"
		item-text="name"
		item-value="value"		    
		label="Select"
		></v-select>

            </v-col>
            <v-col cols="12" sm="6">
		<v-select
		v-model="userFilter"
		:items="filters"
		label="filter by"
		></v-select>

            </v-col>

          </v-row>
        </v-col>
        <v-col cols="12" lg="8">
          <v-row>
            <v-col cols="12" sm="8">
              <v-text-field
                background-color="transparent"
                v-model="inputSearchUser"
                placeholder="Enter Value"
                hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
		<v-select
		v-model="userStatus"
                :items="userStatuses"
		item-text="name"
		item-value="value"		    
		label="Status"
		></v-select>

            </v-col>

          </v-row>
        </v-col>
      </v-row>

    </v-card-text>
    <div class="pa-5 text-right">
      <v-btn type="submit" color="success" class="text-capitalize mr-2">Search</v-btn>
      <v-btn color="black"  @click="clear" class="text-capitalize" dark>Cancel</v-btn>
    </div>
          </v-form>	
  </v-card>

  <v-card class="mb-7">
    <v-card-text class="pa-5 border-bottom">


  <v-data-table
    :headers="headers"
    :items="searchUsers"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Search Results</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              New Item
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.uid"
                      label="User ID"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.name"
                      label="Name"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.nric"
                      label="NRIC"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.description"
                      label="Description"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>

    <template v-slot:item.actions="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
        color="primary"
        @click="initialize2"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>

    </v-card-text>
  </v-card>

      </v-col>
    </v-row>
  </v-container>

</template>



<script>
import adaptableAxios from '@/lib/zygy/adaptableAxios'

export default {
  name: "SearchUserPage",
  data: () => ({
    page: {
      title: "Search User Page"
    },
    elementVisible: false,
    breadcrumbs: [
      {
        text: "Search User",
        disabled: false
      }
    ],
	userField: { name: 'userID', value: 'uid' },
        fields: [
          { name: 'userID', value: 'uid' },
          { name: 'Name', value: 'cn' },
          { name: 'NRIC', value: 'noKP' },
        ],
	userFilter: 'beginWith' ,
	filters:[ 'equalTo','notEqualTo','beginWith','notBeginWith','endingIn','notEndingIn','containing','present',
		'notPresent','greaterThanOrEqualTo','notGreaterThanOrEqualTo','lessThanOrEqualTo','notLessThanOrEqualTo'],
		userStatus: {name: 'active', value: 'all'} ,
		userStatuses: [ {name: 'active', value: 'all'}, {name: 'locked',value: 'locked'},{name: 'deactivated',value: 'locked'}],
		inputSearchUser: '',
	dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'User ID',
          align: 'start',
          sortable: false,
          value: 'uid',
        },
        { text: 'Name', value: 'name' },
        { text: 'NRIC', value: 'nric' },
        { text: 'Description', value: 'description' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      searchUsers: [],
      editedIndex: -1,
      editedItem: {
        uid: '',
        name: '',
        nric: '',
        description: '',
      },
      defaultItem: {
        uid: '',
        name: '',
        nric: '',
        description: '',
      }
  }),
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      //this.initialize()
    },

    methods: {
      submit () {
        console.log("Success")
	console.log(process.env.NODE_ENV)
	console.log(adaptableAxios);
	var params = { word : this.inputSearchUser , searchFilterByString: this.userFilter, searchfilterByType: this.userField.value , searchFilterByStatus : this.userStatus.value};
	adaptableAxios.post('users/listOfUserDetails.json',params).then(function (response) {
	response.Records.forEach(function (item) {
	this.searchUsers.push({ uid : item.userID, name: item.UserName, nric : item.userNRIC, description: item.userDescription });
	});
	console.log(response.Records)
	});
	
      },
	clear () {
        this.inputSearchUser = ''
	},
        initialize2 () {
        this.searchUsers = [
          {
            uid: 'Frozen Yogurt',
            name: 159,
            nric: 6.0,
            description: 24,
          },
          {
            uid: 'Ice cream sandwich',
            name: 237,
            nric: 9.0,
            description: 37,
          },
        ]
	},
      editItem (item) {
        this.editedIndex = this.searchUsers.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.searchUsers.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.searchUsers.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.searchUsers[this.editedIndex], this.editedItem)
        } else {
          this.searchUsers.push(this.editedItem)
        }
        this.close()
      },
    }
    
};
</script>
