<template>
  <v-container fluid class="down-top-padding">
    <!-- <BaseBreadcrumb :title="page.title" :icon="page.icon" :breadcrumbs="breadcrumbs"></BaseBreadcrumb> -->
    <v-row>
      <v-col cols="12" md="12">

  <v-card class="mb-7">
      <v-form ref="form" @submit.prevent="submit">

    <v-card-text class="pa-5 border-bottom">
      <h3 class="title blue-grey--text text--darken-2 font-weight-regular">Search Users</h3>


      <v-row>
            <v-col cols="12" sm="4">
		<v-select
		v-model="userField"
		:items="fields"
		item-text="name"
		item-value="value"		    
		label="Find"
		></v-select>

    </v-col>
    <v-col cols="12" sm="8">
      <v-text-field
        background-color="transparent"
        v-model="inputSearchUser"
        placeholder="Enter Value"
        hide-details
      ></v-text-field>
    </v-col>


      </v-row>

    </v-card-text>
    <div class="pa-5 text-right">
      <v-btn type="submit" color="success" class="text-capitalize mr-2">Search</v-btn>
      <v-btn color="black"  @click="clear" class="text-capitalize" dark>Cancel</v-btn>
    </div>
          </v-form>

<div v-if="noResultsFound && formSubmitted">
    <v-alert
      dense
      border="left"
      type="warning"
      dismissible
    >
      <strong>No Results</strong> found
    </v-alert>     
</div>	  
  </v-card>

  <v-card class="mb-7">
    <v-card-text class="pa-5 border-bottom">
      <h3 class="title blue-grey--text text--darken-2 font-weight-regular">UTMID Results</h3>

  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Field
          </th>
          <th class="text-left">
            Value
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in userResultFields"
          :key="item.field"
        >
          <td>{{ item.field }}</td>
          <td>{{ item.value }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>

    </v-card-text>

  <div v-if="!noResultsFound" class="mt-4 text-right">
    <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on }">
            <v-btn color="primary" dark v-on="on">Update Password</v-btn>
        </template>
        <v-card>
            <v-card-title>
            <span class="headline">Update Password</span>
            </v-card-title>
            <v-card-text>
            <v-container>
            <v-row>
              <v-col cols="12">
                  <v-text-field v-model="password" label="Password*" type="password"
                  :counter="8"
                  :rules="passwordRules"	    required></v-text-field>
              </v-col>
              <v-col cols="12">
                  <v-text-field v-model="passwordReconfirm" label="Password Reconfirm*" type="password" required></v-text-field>
              </v-col>

            </v-row>
                    </v-container>
                    <small>*indicates required field</small>
                    </v-card-text>

<div v-if="passwordUpdateFailMessage != null">
    <v-alert
      dense
      border="left"
      type="error"
      dismissible
    >
      <strong>Password Update Fail.</strong> {{passwordUpdateFailMessage}}
    </v-alert>     
</div>	  
<div v-else-if="passwordUpdateSubmitted">
    <v-alert
      dense
      border="left"
      type="info"
      dismissible
    >
      <strong>Password Update Success.</strong>
    </v-alert>     
</div>	  


                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" text @click="dialog = false">Close</v-btn>
                    <v-btn color="success" text @click="updatePassword()">Save</v-btn>
                    </v-card-actions>
                </v-card>
                </v-dialog>
        </div>



</v-card>


  <v-card class="mb-7">
    <v-card-text class="pa-5 border-bottom">
      <h3 class="title blue-grey--text text--darken-2 font-weight-regular">{{ dataSourceName }} Results</h3>

  <v-simple-table>
    <template v-slot:default>
      <thead>
        <tr>
          <th class="text-left">
            Field
          </th>
          <th class="text-left">
            Value
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in dataSourceFields"
          :key="item.field"
        >
          <td>{{ item.field }}</td>
          <td>{{ item.value }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>

    </v-card-text>
  </v-card>


</v-col>
    </v-row>
  </v-container>

</template>



<script>
import adaptableAxios from '@/lib/zygy/adaptableAxios'


export default {
  name: "SearchUserPage",
  data: () => ({
  page: {
    title: "Search User Page"
  },
  elementVisible: false,
  breadcrumbs: [
    {
      text: "Search User",
      disabled: false
    }
  ],
  userField: 'uid',
  fields: [
    { name: 'userID / UTMID', value: 'uid' },
    { name: 'No KP / ISID', value: 'noKP' },
    { name: 'No Pekerja', value: 'employeeNumber' },
    { name: 'No Matrik', value: 'studentNumber' },	
  ],
	userFilter: 'beginWith' ,
	filters:[ 'equalTo'],
	userStatus: {name: 'active', value: 'all'} ,
	userStatuses: [ {name: 'active', value: 'all'}, {name: 'locked',value: 'locked'},{name: 'deactivated',value: 'locked'}],
	inputSearchUser: '',

  userResultFields: [],
  dataSourceName: 'HR/AIMS Data',
  dataSourceFields: [],
  noResultsFound: true,
  password: '',
  passwordReconfirm: '',
  dialog: false,
  formSubmitted: false,
  uid: '',
  passwordUpdateSubmitted: false,
  passwordUpdateFailMessage: null,
  passwordRules: [
    v => !!v || "Password is required",
    v => (v && v.length >= 8) || "Password must be more than 7 characters"
  ],
      
  }),
  computed: {
  },

  watch: {
    dialog (val) {
      val || this.close();
    },
    
  },

  created () {
    this.initialize()
  },

  methods: {
    submit () {
      this.formSubmitted=true;
      this.noResultsFound=false;      
      this.userResultFields = [];	     
      var params = { word : this.inputSearchUser , searchFilterByString: "equalTo", searchFilterByType: this.userField , searchFilterByStatus : 'all'};
      const searchParams = new URLSearchParams();
      Object.entries(params).forEach(([key, value]) => {
        searchParams.append(key, value);
      });
	
      var tmpThis = this;
      adaptableAxios.post('../users/listOfUserDetails',searchParams).then(response => {

      if (response.data.Records.length > 0 ) {
        response.data.Records[0].fieldValuesMap.forEach(element => {
          tmpThis.userResultFields.push( { field: element.formFieldDisplay , value : element.formFieldValue});
          if (element.formFieldName == 'userID') {
            tmpThis.uid = element.formFieldDisplay;
          }
        });

        if (response.data.Records[0].dataSources.length > 0 ) {
          tmpThis.dataSourceName = response.data.Records[0].dataSources[0].name;
          response.data.Records[0].dataSources[0].fieldValuesMap.forEach(element => {
            tmpThis.dataSourceFields.push( { field: element.formFieldDisplay , value : element.formFieldValue});	
          });
        }
      } else {
        tmpThis.noResultsFound = true;  
      }
    });
	
  },
	clear () {
        this.inputSearchUser = ''
	},
  initialize () {
	},
	updatePassword() {
    this.passwordUpdateFailMessage=null;
    const searchParams = new URLSearchParams();
    searchParams.append("password",this.password);
    searchParams.append("uid",this.uid);	

    var tmpThis = this;
    adaptableAxios.post('../users/changePassword.json',searchParams).then(response => {
      if (response.data.isSuccess == false) {
        tmpThis.passwordUpdateFailMessage = response.data.result;
      } 
      this.passwordUpdateSubmitted=true;	  	
    });

	},
  close() {
    this.dialog = false;


  },
	
  }
    
};
</script>
